{% set assetHash = global.random() %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    {% include "partials/meta-info.njk" %}
 
    {% if pageCriticalStyles %}
        {% for item in pageCriticalStyles %}
            {% set css %}
              {% include item %}
            {% endset %}
            <style>
                {{ css | cssmin | safe }}
            </style>
        {% endfor %}
    {% endif %}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
          <link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'"/>
      {% endfor %}
    {% endif %}
  </head>
  <body>
    {% include "partials/header.njk" %}
    <main>{% block content %}{% endblock %}</main>
    {% include "partials/footer.njk" %}
    
    {% if pageScripts %}
        {% for item in pageScripts %}
            <script src="{{ item }}"></script>
        {% endfor %}
    {% endif %}
  </body>
</html>