<footer class="footer">
    <div class="container footer__inner">
        <div class="footer__info">
            <a href="/" class="footer__branding"><h2>Giftbag</h2></a>
            <p>Version 0.1.0 | MIT License</p>
            <p>&#169; 2020 Frzrbox</p>
        </div>

        <div class="footer__links">
            <a class="footer__link" href="/docs">Documentation</a>
            <a class="footer__link" href="https://github.com/frzrbox/giftbag" target="_blank">Github</a>
        </div>
    </div>
</footer>