<header class="header">
    <div class="container header__inner">
        <a href="/" class="header__site-branding__outer"><h1 class="header__site-branding__inner">Giftbag</h1></a>
        <nav class="header__navigation">
            <a class="header__navigation__link" href="/docs">Get Started</a>
            <a class="header__navigation__link" rel="noopener" href="https://github.com/frzrbox/giftbag" target="_blank">Github</a>
        </nav>
    </div>
</header>