@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap");

:root {
    --dark-section-background: black;
    --dark-section-color: white;
    --light-section-background: white;
    --light-section-color: black;
    --primary-accent: #f9ca24;
    --box-shadow: 8px 6px 29px -3px rgba(0, 0, 0, 0.37);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: "Rubik", sans-serif;
    transition: background 0.2s, color 0.2s;
}

body[data-theme="winter"] {
    --dark-section-background: #686de0;
    --dark-section-color: white;
    --light-section-background: white;
    --light-section-color: black;
    --primary-accent: #4834d4;
}

body[data-theme="summer"] {
    --dark-section-background: #ffbe76;
    --dark-section-color: black;
    --light-section-background: white;
    --light-section-color: black;
    --primary-accent: #f0932b;
}

body[data-theme="fall"] {
    --dark-section-background: #e056fd;
    --dark-section-color: white;
    --light-section-background: white;
    --light-section-color: black;
    --primary-accent: #be2edd;
}

body[data-theme="spring"] {
    --dark-section-background: #ff7979;
    --dark-section-color: white;
    --light-section-background: white;
    --light-section-color: black;
    --primary-accent: #eb4d4b;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.65;
}

/* Typography */

p {
    margin-bottom: 1.15rem;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1.05rem;
    line-height: 1.15;
}

h1,
h2 {
    font-weight: 700;
}

h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    margin-top: 0;
    font-size: 4.209em;
}

h2 {
    font-size: 3.157em;
}

h3 {
    font-size: 2.369em;
}

h4 {
    font-size: 1.777em;
}

h5 {
    font-size: 1.333em;
}

small,
.text_small {
    font-size: 0.75em;
}

/* Helpers */

.bg-dark {
    background: var(--dark-section-background);
    color: var(--dark-section-color);
}

.bg-light {
    background: var(--light-section-background);
    color: var(--light-section-color);
}

.bg-dark {
    background: var(--dark-section-background);
    color: var(--dark-section-color);
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Custom Styles */
select {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

#hero {
    height: 70vh;
    display: flex;
    align-items: flex-start;
}

#hero h3 {
    padding-left: 5vw;
    font-size: 4ch;
    width: 80%;
    line-height: 1.3;
}

@media (min-width: 768px) {
    #hero h3 {
        padding-top: 15vh;
        font-size: 5ch;
        width: 70%;
        max-width: 1100px;
        line-height: 1.3;
    }
}

/* Parallax */
.full-height {
    height: 100vh;
    width: 100%;
}

#parallax {
    position: relative;
    background: var(--dark-section-background);
    z-index: -2;
}

#parallax h3 {
    color: var(--dark-section-color);
    font-size: 10vw;
}

.box {
    position: absolute;
    top: calc(50%);
    left: calc(50% - 40vw);
    height: 60vh;
    width: 80vw;
    background: var(--primary-accent);
    z-index: -1;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}